.testimonial-content {
  color: #c4122e;
}
.testimonial-content:before,
.testimonial-content:after {
  display: inline;
  content: '"';
}
.testimonial-author {
  color: #18419f;
  text-align: right;
}
.testimonial-author:not(:empty):before {
  content: '-';
}
