body {
  margin-bottom: 0;
  padding-top: calc( 85px + 16px ); /* height of fixed navbar: logo + padding */
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: 'Merriweather Sans';
  background-color: #f1f2f3s;
  color: #010203;
  overflow-x: hidden;
}
main {
  font-size: 1.25rem;
}
article {
  padding: 0;
  margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}
h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
h3 {
  font-weight: 700;
}
nav {
  font-size: 0.9rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .active > .nav-link {
  color: #fff;
  font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link:hover{
  text-decoration: none;
}
#primary-menu li {
  padding-left: 1rem;
}

a {
  color: #007bff;
}
a:hover {
  color: #007bffdd;
}

.bvc-blue {
  color: #2e3192;
}
.bg-bvc-blue {
  background-color: #18419f;
}
.bg-bvc-dark-blue {
  background-color: #072a66;
}
.bvc-teal {
  color: #758c9a;
}
.bg-bvc-teal {
  background-color: #758c9a;
}
.bvc-red {
  color: #c6132f;
}
.bg-bvc-red {
  background-color: #c6132fee;
}
.bvc-gold {
  color: #f7c901;
}
.bg-bvc-gold {
  background-color: #f7c901ee;
}
.bg-bvc-black {
  background-color: #00000033;
}
/*
.navbar-dark .navbar-nav .nav-link {
  color: rgba( 255, 255, 255, 0.8 );
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba( 255, 255, 255, 0.6 );
}
.navbar-dark .navbar-nav .active>.nav-link {
  color: blue;
}
*/
.navbar-brand {
  max-width: calc( 100vw - 110px );
}
.nav-item {
  margin: 3px;
}
blockquote.wp-block-pullquote {
  margin: 2.5rem auto;
  padding: 1rem;
  font-size: 1.2rem;
	background: #fff;
  border-width: 1px;
/*
	background:
		linear-gradient(135deg, transparent 10px, #fff 0) top left,
		linear-gradient(225deg, transparent 10px, #fff 0) top right,
		linear-gradient(315deg, transparent 10px, #fff 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #fff 0) bottom left;
	background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #fff 15px),
		radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #fff 15px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #fff 15px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #fff 15px);
	background-size: 51% 51%;
	background-repeat: no-repeat;
*/
}
blockquote.wp-block-pullquote p {
  font-size: 1.1rem;
}

.wp-block-image {
  text-align: center;
}
.wp-block-image img {
  width: 50%;
}
.wp-block-image figcaption {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2.5rem;
}
.wp-block-image.float-left img {
  max-height: 400px;
  width: auto;
}

.wp-block-columns {
  display: block;
  margin-top: 5rem;
}
.wp-block-columns ul {
  padding-left: 1rem;
}
.layout-column-1 {
  margin-right: 2rem;
}
.layout-column-2 {
  margin-left: 2rem;
}
.layout-column-1 li,
.layout-column-2 li {
/*  font-size: 0.9rem;*/
}
.wp-block-columns p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.wp-block-cover-image {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-bottom: 5rem;
  background-position: center;
}
.wp-block-cover-image .wp-block-cover-image-text {
  max-width: initial;
  font-size: 1.5em;
}
.wp-block-cover-image-text a {
  display: block;
  margin-top: 2.5rem;
  padding: 1rem;
  outline: 1px solid #eeeeee;
  background-color: #c1c1c140;
  font-size: 1.25rem;
}
.wp-block-cover-image-text a:hover {
  background-color: #c1c1c180;
}

.wpcf7 {
  margin: 5rem 0;
}
.wpcf7 form {
  margin-left: -15px;
}

.hero {
  min-height: 0;
  height: calc( 100vh - 140px );
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Raleway';
  border-bottom: 6px solid #ffffff;
  font-kerning: normal;
  overflow: hidden;
}

.address-bar {
  margin-top: -50px;
  padding-top: 55px;
  padding-bottom: 5px;
}
.address-bar .widget {
  display: inline-block;
}
.address-bar .widget_media_image img {
  margin-left: 5px;
  margin-top: -3px;
  max-width: 20px !important;
}
.address-bar .textwidget p {
  margin: 0;
  max-width: initial;
}

.entry-header,
.entry-footer {
  display: none;
}
.img-brand {
  height: 40px;
  transition: all 0.25s ease-in-out;
}
.img-brand.initial {
  height: 75px;
  padding: 5px;
}
.navbar-brand img {
  max-height: 75px;
}

/*
.has-post-thumbnail {
  margin: -25px -15px;
  min-height: calc( 100vh + 5rem );
}

.featured-image {
  content:'';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-post-thumbnail .entry-header {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.has-post-thumbnail .entry-header h1 {
  color: #ffffff;
}

.has-post-thumbnail .entry-content {
  background-color: #fafafa;
  padding: 5rem 2.5rem 0;
  margin-bottom: 0;
}
.featured-text {
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
}
.featured-image {
  position: relative;
  height: 100vh;
  margin: 0 -15px;
}
.has-post-thumbnail .entry-content {
  background: transparent;
}

.card {
  overflow: hidden;
}
.card:hover .card-img-top {
  transform: scale(1.05);
}
.card-img-top {
  transition: all 0.2s ease-in-out;
}
*/

.icon {
  margin-top: 5rem;
  margin-bottom: 10px;
}
.icon:after {
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  z-index: 999;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
}

.entry-header {
  margin-bottom: 5rem;
}
.entry-heading {
  text-align: center;
  font-size: 5rem;
}

.outline {
  outline: 1px solid #ffffff77;
}

.appointment {
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
  right: -257px;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 9999;
}
.appointment:hover {
  right: 0;
}
.appointment > div {
  display: block;
  float: left;
  padding: 5px;
}
.appointment > div:first-of-type {
  margin-right: 5px;
}
.appointment-text {
  width: 250px;
  text-align: center;
}
.appointment p {
  margin-bottom: 0;
}
.appointment-image {
  width:38px;
  text-align: center;
}
.appointment img {
  height: 25px;
  width: 25px;
}
.appointment a {
  color: #fff;
  font-size: 1.2rem;
}
.appointment a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.appointment.expand {
  right: -7px;
}

.wp-block-quote {
  border-color: #2e3192;
  text-align: center;
}
.wp-block-quote p {
  color: #2e3192;
  font-weight: 700;
  text-align: center;
}

.testimonial {
  color: #f1f2f3;
  background-color: #18419f;
  padding: 2rem;
  margin: 2.5rem auto;
  position: relative;
}
/*
.testimonial:after {
  margin-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  content: '';
  height: 2.25rem;
  display: block;
  background: linear-gradient( to left bottom, #ffffff 48%, #18419f 50% );
}
*/
.testimonial-content:before,
.testimonial-content:after {
  display: inline;
  content: '"';
}
.testimonial p {
  text-align: right;
}
.testimonial-author {
  display: block;
  width: 100%;
  text-align: right;
}
.testimonial-author:not(:empty):before {
  content: '-';
}

.google-map-outer {
  max-height: 500px;
  overflow:hidden;
  margin-bottom: 0.5rem;
}
.google-map-canvas {
  background:none!important;
}

.widget {
  flex-basis: 100%;
}
.widget h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
.textwidget p {
  max-width: 250px;
  margin: 0;
}
.textwidget p + p {
  margin-top: 1rem;
}
.widget img {
  height: 125px;
  width: 125px;
}

.footer-widgets {
  padding: 2rem 5rem;
}
.footer-widgets .row {
  justify-content: space-evenly;
  margin: 0;
}

footer.footer.navbar {
  padding: 0.5rem 0 0 0;
}
footer.footer.navbar:after {
  display:block;
  content: '';
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  background-image: URL( '../images/Boulder-Vision-Center-footer-rule.jpg' );
}

@media only screen and (min-width : 480px) {
  .wp-block-cover-image .wp-block-cover-image-text {
    font-size: 2em;
  }
}
@media only screen and (min-width : 768px) {
  .widget {
    flex-basis: calc( 50% - 4rem );
  }
  .widget h2 {
    margin-top: 0;
  }
}
@media only screen and (min-width : 992px) {
  .appointment {
    bottom: 30vh;
  }
  .testimonial {
    max-width: 60%;
  }
  .wp-block-gallery {
    margin: 2.5rem 0;
  }
  .wp-block-quote {
    margin: -1.5rem 10rem 2.5rem;
  }
  .widget {
    flex-basis: calc( 25% - 4rem );
  }
  .wp-block-columns {
    display: grid;
  }
  .wp-block-image.float-left img {
    margin-right: 3rem;
  }
  #primary-menu li {
    padding-left: 0;
  }
  blockquote.wp-block-pullquote {
    width: 75%;
  }
  .img-brand {
    max-width: calc( 100vw - 675px );
  }
}
@media only screen and (min-width : 1200px) {
  .wp-block-gallery .blocks-gallery-item {
    width: 100%;
  }
  .wp-block-gallery .blocks-gallery-item:first-of-type {
    margin-left: 0;
  }
  .wp-block-gallery .blocks-gallery-item:last-of-type {
    margin-right: 0;
  }
}
